{% extends "hours/layout.html" %}
<!-- {% load static %} -->

{% block body %}

    {% if user.is_authenticated %}
    <form method="POST" id="create-form">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table create-db">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Morning</th>
                        <th scope="col">Lunch check-in</th>
                        <th scope="col">Lunch check-out</th>
                        <th scope="col">Evening</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="date">
                        </td>
                        <td>{{ form.start_input }}
                            

                        </td>
                        <td>
                            {{ form.start }}
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                        <td>
                            <input type="submit" value="Add">
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </form>

    <div class="table-responsive-md">
        <table class="table db">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Morning</th>
                    <th scope="col">Lunch check-in</th>
                    <th scope="col">Lunch check-out</th>
                    <th scope="col">Evening</th>
                    <th scope="col">Required hours</th>
                    <th scope="col">Extra hours</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for day in days %}
                    <tr>
                        <td>{{ day.date }}</td>
                        <td>{{ day.start }}</td>
                        <td>{{ day.lunch_in }}</td>
                        <td>{{ day.lunch_out }}</td>
                        <td>{{ day.end }}</td>
                        <td>{{ day.required }}</td>
                        <td>{{ day.extra }}</td>
                        <td>edit</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}


{% endblock %}

{% block script %}
    <script src="{% static 'hours/hours.js' %}"></script>

{% endblock %}