{% extends 'person_auth/base.html' %}
{% load static %}

{% block title %}Home page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
    <br>
    
    <h3>The Calendar</h3>
    <br>
    <p id="actual_month" hidden data-month="{{month}}"></p>
    <p id="actual_year" hidden data-year="{{year}}"></p>
   
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Note!</h4>
        <p>Be sure to add a completed day, for daily check-in please use your homepage.</p>
        <p>If you see an incompleted day/days (red marked) it's probably because you haven't completed daily check-in. Please review this day and complete it.</p>
        <hr>
        <p class="mb-0">An incomplete day will be considered as 0 - your absence.</p>
    </div>

    <div class="" id="plus">
        <button id="filter_button" class="btn btn-primary"> Click to apply a filter</button>

        <div id="plus_inside">
            <button  id="plus_btn" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal"><h1><i class="bi bi-calendar-plus"></i></h1></button>
        </div>
    </div>

    <div id="modal">
    
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New day</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                    <div class="container" id="create_input_table">
                        <form method="post" id="day_input" name="input_form" >
                            <div class="modal-body">
                                {% csrf_token %}{{form | crispy}}
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Add day</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    
    <div id="open_filter" >
        <div class="d-flex flex-ms-column">
            <div class="filtering">
                <label for="id_year" class="form-label requiredField">
                    Year
                    <span class="asteriskField">*</span>
                </label>
                    <select name="year" class="select form-select" id="id_year" aria-label="Default select example">
                        <option value="2022" selected>2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                    </select>
            </div>
        
            <div class="filtering" >
                    {{form_month | crispy}}    
            </div>
        </div>
    </div>

    <br>

    <div class="table-responsive-md">
        <table class="table align-middle">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Public holiday</th>
                <th scope="col">Date</th>
                <th scope="col">Morning</th>
                <th scope="col">Lanch in</th>
                <th scope="col">Lanch out</th>
                <th scope="col">Evening</th>
                <th scope="col">Required</th>
                <th scope="col">Extra</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
             {% for day in days %}
                
                {% if day.completed %}
                    <tr id="row{{day.id}}" class="each_row" data-id="{{day.id}}">
                {% else %}
                    <tr id="row{{day.id}}" class="each_row" style="background-color:rgba(247,191,190,1);" data-id="{{day.id}}">        
                {% endif %}
                
                    <form class="update_time" name="update_time" method="POST" data-id="{{day.id}}">
                        {% csrf_token %}
                        <td>
                            <span id="span_completed{{day.id}}" data-completed="{{day.completed}}" class="completed">
                            {% if day.completed %}

                            {% else %}
                            <strong>Incomplete</strong>
                            {% endif %}
                            </span>
                        </td>
                        {% if day.public_holiday %}
                            <td class="time{{day.id}}">
                                <span id="span_public_holiday{{day.id}}" data-pub="true">
                                    <strong><input id="span_input_public_holiday{{day.id}}" type="checkbox" checked disabled ></strong>
                                </span>
                                <input id="public_holiday{{day.id}}" name="public_holiday" type="checkbox" checked style="display: none;" >
                            </td>
                        {% else %}
                            <td class="time{{day.id}}">
                                <span id="span_public_holiday{{day.id}}" data-pub="false">
                                    <input id="span_input_public_holiday{{day.id}}" type="checkbox" disabled>
                                </span>
                                <input id="public_holiday{{day.id}}" name="public_holiday" type="checkbox" style="display: none;" >
                            </td>
                        {% endif %}
                        <td class="time{{day.id}}"><span class="span_date">{{day.date | date:"d.m.Y"}}</span><input disabled id="date{{day.id}}" name="datum" type="date" value="{{day.date|date:'Y-m-d'}}" style="display: none;" ></td>
                        <td class="time{{day.id}}"><span id="span_start{{day.id}}">{{day.start | time:"H:i"}}</span><input id="start{{day.id}}" name="start" type="time" min="07:00" max="21:00" value="{{day.start | time:'H:i'}}" style="display: none;" ></td>
                        <td class="time{{day.id}}"><span id="span_lunch_in{{day.id}}">{{day.lunch_in | time:"H:i"}}</span><input id="lunch_in{{day.id}}" name="lunch_in" type="time" min="07:00" max="21:00"  value="{{day.lunch_in | time:'H:i'}}" style="display: none;" ></td>
                        <td class="time{{day.id}}"><span id="span_lunch_out{{day.id}}">{{day.lunch_out | time:"H:i"}}</span><input id="lunch_out{{day.id}}" name="lunch_out" type="time" min="07:00" max="21:00"  value="{{day.lunch_out | time:'H:i'}}" style="display: none;" ></td>
                        <td class="time{{day.id}}"><span id="span_end{{day.id}}">{{day.end | time:"H:i"}}</span><input id="end{{day.id}}" name="end" type="time" min="07:00" max="21:00"  value="{{day.end | time:'H:i'}}" style="display: none;" ></td>
                        <td id="span_required{{day.id}}">{{ day.required | floatformat:2 }}</td>
                        <td id="span_extra{{day.id}}">{{ day.extra | floatformat:2}}</td>
                        <td>
                            <button value="{{day.id}}" class="btn btn-outline-info edit"><i class="fa fa-pencil"></i></button>
                            <button id="save_edit{{day.id}}" type="submmit" value="{{day.id}}" class="btn btn-outline-success save_edit" style="display: none" ><i class="bi bi-check-lg"></i></button>
                            <button id="cancel_edit{{day.id}}" value="{{day.id}}" type="button" class="btn btn-outline-danger cancel" style="display: none"><i class="bi bi-x" ></i></button>
                        </td>
                    </form>
                    <td>
                        <form action="{% url 'hour:delete_day' day.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submmit" value="{{day.id}}" class="btn btn-outline-danger" onclick="return confirm('Are you sure?');"><i class="fa fa-trash"></i></button>
                        </form>
                    </td>

                </tr>
              {% empty %}
              <p>No days yet.</p>
             {% endfor %}
            </tbody>
          </table>
    </div>
{% endif %}

    

{% endblock %}
{% block script %}
    <script src="{% static 'hour/index.js' %}"></script>
{% endblock %} 

